body{
    background-color: #36393f;
}

::selection {
    background-color: #CCC;
}
.center{    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.large,div.large,img.large{
    width: 124px;
}
img{
    pointer-events: none;
}
img.right {
    right: 0%;
    border-radius: 0px 5px 0px 0px;
}
img.left{
    left: 0%;
    border-radius: 5px 0px 0px 0px;
}

.flex{
    display: flex;
}
.flex.row{
    flex-direction: row;
}
.item_center{    
    align-items: center;
    justify-content: center;
}

.bigRightSpace{
    margin-right: 60px;
}

input, .btn, span, p{
    text-align: center;
    background-color: #e9e5dc;
    font-family: Calibri;
    font-weight: lighter;
    font-size:smaller;
    color: #36393f;
    border-radius: 3px;
}
.btn{    
    height: 30px;
    width: 100px;
}

.hide{
    opacity: .1;
}
.collapsed{
    display: none;
    overflow: hidden;
}

.panel{
    width: 62px;
    height: 85px;
    box-shadow: 0px 0px 4px black;
    border-radius: 5px 5px 5px 5px;
    margin: 6px;
    box-shadow: 0px 0px 4px black; 
}
.panel.high{
    height: 98px;
}
.panel_empty {
    width: 62px;
    height: 85px;
    margin: 6px;
}
.panel_content{    
    position: relative;
    width: 62px;
    height: 62px;
    border-radius: 5px 5px 0px 0px;
}
.panel_content_image{
    width: 62px;
    height: 62px;
    position: absolute;
    border-radius: 5px 5px 0px 0px;
}
.panel_footer{
    align-items: center;
    background-color: #e9e5dc;
    border-radius: 0px 0px 5px 5px;
    align-items: center;
    height: 23px;
}
.panel_footer input{
    width: 28px;
    height: 23px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    outline: none;
    border: none;
    padding: 0px 0px;

    border-radius: 0px 0px 5px 5px;
}
.panel_footer.high{
    height: 36px;
}
.panel_footer.high input{
    height: 18px;
}

.btn{
    align-items: center;
    justify-content: center;
    
    background-color: #282a2f;
    color: #474851;
    user-select: none;
    box-shadow: 0px 0px 4px black; 
}
.btn_principal{    
    margin-bottom: 15px;
    margin-top: 15px;   
    margin-left: 6px; 
    margin-right: 6px;
}
.btn.checked{
    background-color: #e9e5dc;
}
#btn_boss_domains{
    height: 30px;
    width: 115px;
}
#btn_harvestables{
    height: 30px;
    width: 94px;
}
#myModal-btn-yes,
#myModal-btn-no
{
    width: 26px;
    height: 20px;
}

#input_left-nb_mora{
    width: 120px;
}
#input_right-total_mora{
    width: 110px;
}
#input_left-xp_total,
#input_right-xp_total,
#input_left-nb_minerais,
#input_right-total_minerais,
#input_left-nb_book_vi,
#input_left-nb_book_b{
    width: 55px;
}

/* The Modal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #e9e5dc;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  
.farm_ressources_monday_thursday,
.farm_ressources_tuesday_friday{
    align-items: center;
    margin-bottom: 10px;
}
.farm_ressources_wednesday_saturday{
    align-items: center;
}
.farm_ressources_days
{    
    position: relative;

    width: 40px;
    height: 196px;

    border-radius: 3px 0px 0px 3px;
    box-shadow: 0px 0px 4px black;
    background-color: #282a2f;
    color: #36393f;
}
.farm_ressources_days p{
    background-color: #282a2f;
    
    position: absolute;
    margin: 0;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.farm_ressources_frame{
    border: solid;
    border-color: #282a2f;
    border-width: thin;
    border-radius: 0px 3px 3px 0px;
    z-index: 1;
    border-left: none;
}
.day_active{
    box-shadow: 0px 0px 4px black;    
    background-color: #e9e5dc;
}
.day_active p{  
    background-color: #e9e5dc;
}
.frame_active{
    border-color: #e9e5dc;
}

.btn_filtre{
    position: relative;
    width: 30px;
    height: 30px;
}
.btn_filtre_image{
    position: absolute;
    width: 27px;
    height: 27px;
}
.btn_filtre_image_small{
    position: relative;
    width: 12px;
    height: 12px;
}
.btn_filtre_flat{    
    position: relative;
    width: 66px;
    height: 13px;
    border-radius: 8px;
    line-height: 13px;
}
.btn_filtre_flat.no_justify_left_padding{
    justify-content: left;
    padding-left: 5px;
}

#liste_personnages_personnages {
    width: 900px;
    flex-flow: wrap;
}
.personnage_panel{
    width: 90px;
    height: 120px;

    border-radius: 3px;
    box-shadow: 0px 0px 4px black;

    user-select: none;
}
.personnage_panel_portrait_content{
    position: relative;
    width: 90px;
    height: 97px;
    border-radius: 3px 3px 0px 0px;
}
.personnage_panel_background{
    position: absolute;
    width: 90px;
    height: 97px;
    border-radius: 3px 3px 0px 0px;
}
.personnage_panel_portrait{
    position: absolute;
    width: 90px;
    height: 97px;
    border-radius: 3px 3px 0px 0px;
}
.personnage_panel_element{
    position: absolute;
    width: 27px;
    height: 27px;

    margin-top: 4px;
    margin-left: 4px;
}
.personnage_panel_name{
    text-align: center;
    vertical-align: middle;
    line-height: 23px;   

    width: 90px;
    height: 23px;
    border-radius: 0px 0px 3px 3px;

    background-color: #e9e5dc;

    font-family: Calibri;
    font-weight: lighter;
    font-size: smaller;
    color: #36393f;

    user-select: none;
}

