body{
    background-color: #36393f;
}

::selection {
    background-color: #CCC;
}
.center{    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.large,div.large,img.large{
    width: 124px;
}
img{
    pointer-events: none;
}
img.right {
    right: 0%;
    border-radius: 0px 5px 0px 0px;
}
img.left{
    left: 0%;
    border-radius: 5px 0px 0px 0px;
}

.flex{
    display: flex;
}
.flex.row{
    flex-direction: row;
}
.item_center{    
    align-items: center;
    justify-content: center;
}

.bigRightSpace{
    margin-right: 60px;
}

input, .btn, span, p{
    text-align: center;
    background-color: #e9e5dc;
    font-family: Calibri;
    font-weight: lighter;
    font-size:smaller;
    color: #36393f;
    border-radius: 3px;
}
textarea{
    resize:none;
    overflow-wrap:normal;
    overflow:hidden;

    display:inline-block;
    vertical-align:middle;
    text-align:center;

    width: 100px;

    font-family: Calibri;
    font-weight: lighter;
    font-size:smaller;
    color: #36393f;
}
.btn{    
    height: 30px;
    width: 100px;
}

.hide{
    opacity: .1;
}
.collapsed{
    display: none;
    overflow: hidden;
}
.invisible{
    opacity: 0;
}

.panel{
    width: 62px;
    height: 85px;
    box-shadow: 0px 0px 4px black;
    border-radius: 5px 5px 5px 5px;
    margin: 6px;
    box-shadow: 0px 0px 4px black; 
}
.panel.high{
    height: 98px;
}
.panel_empty {
    width: 62px;
    height: 85px;
    margin: 6px;
}
.panel_content{    
    position: relative;
    width: 62px;
    height: 62px;
    border-radius: 5px 5px 0px 0px;
}
.panel_content_image{
    width: 62px;
    height: 62px;
    position: absolute;
    border-radius: 5px 5px 0px 0px;
}
.panel_footer{
    align-items: center;
    background-color: #e9e5dc;
    border-radius: 0px 0px 5px 5px;
    align-items: center;
    height: 23px;
}
.panel_footer input{
    width: 28px;
    height: 23px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    outline: none;
    border: none;
    padding: 0px 0px;

    border-radius: 0px 0px 5px 5px;
}
.panel_footer.high{
    height: 36px;
}
.panel_footer.high input{
    height: 18px;
}

.btn{
    align-items: center;
    justify-content: center;
    
    background-color: #282a2f;
    color: #474851;
    user-select: none;
    box-shadow: 0px 0px 4px black; 
}
.btn_principal{ 
    margin-left: 6px; 
    margin-right: 6px;
}
#btn_groupe_principal{
    margin-top: 10px;
}
#liste_ressources_generales,
#btn_groupe_ressources{    
    margin-top: 23px;  
}
#list_ressources_boss_domains,
#list_ressources_harvestable{
    margin-top: 25px;
}
.btn.checked{
    background-color: #e9e5dc;
}
#btn_boss_domains{
    height: 30px;
    width: 115px;
}
#btn_harvestables{
    height: 30px;
    width: 94px;
}

#input_left-nb_mora{
    width: 120px;
}
#input_right-total_mora{
    width: 110px;
}
#input_left-xp_total,
#input_right-xp_total,
#input_left-nb_minerais,
#input_right-total_minerais,
#input_left-nb_book_vi,
#input_left-nb_book_b{
    width: 55px;
}

/* The Modal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #e9e5dc;
    margin: 15% auto; /* 15% from the top and centered */    
    border: 1px;
    width: 250px;
    height: 100px;
    border-radius: 3px;
    box-shadow: 0px 0px 4px black; 
}
#myModal-text{
    margin-top: 20px;
    user-select: none;
    font-family: Calibri;
    font-weight: lighter;
    font-size:smaller;
    padding-top: 22px;
}
#myModal-buttons{
    margin-top: 15px;
}
#myModal-btn-yes,
#myModal-btn-no
{
    width: 50px;
    height: 25px;
    color: #e9e5dc;
}
#myModal-btn-yes:hover,#myModal-btn-yes:focus,
#myModal-btn-no:hover,#myModal-btn-no:focus
{
    cursor: pointer;
}
  
.farm_ressources_monday_thursday,
.farm_ressources_tuesday_friday{
    align-items: center;
    margin-bottom: 10px;
}
.farm_ressources_wednesday_saturday{
    align-items: center;
}
.farm_ressources_days
{    
    position: relative;

    width: 40px;
    height: 293px;

    border-radius: 3px 0px 0px 3px;
    box-shadow: 0px 0px 2px black;
    background-color: #282a2f;
    color: #36393f;
}
.farm_ressources_days p{
    background-color: #282a2f;
    
    position: absolute;
    margin: 0;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.farm_ressources_frame{
    border: solid;
    border-color: #282a2f;
    border-width: thin;
    border-radius: 0px 3px 3px 0px;
    z-index: 1;
    border-left: none;
}
.day_active{
    box-shadow: 0px 0px 4px black;    
    background-color: #e9e5dc;
}
.day_active p{  
    background-color: #e9e5dc;
}
.frame_active{
    border-color: #e9e5dc;
}

.btn_filtre{
    display: flex;
    width: 30px;
    height: 30px;
}
.btn_filtre_image{
    width: 27px;
    height: 27px;
}
.btn_filtre_image_small{
    position: relative;
    width: 12px;
    height: 12px;
}
.btn_filtre_flat{    
    position: relative;
    width: 66px;
    height: 13px;
    border-radius: 8px;
    line-height: 13px;
}
.btn_filtre_flat.no_justify_left_padding{
    justify-content: left;
    padding-left: 5px;
}

#liste_personnages_personnages {
    margin-top: 28px;
}
.limitCardsNumberByRow{
    width: 1500px;
    flex-flow: wrap;
}

#liste_personnages_filtres {
    margin-top: 23px;
}
.personnage_panel{
    width: 90px;
    height: 120px;

    border-radius: 3px;
    box-shadow: 0px 0px 4px black;

    user-select: none;

    margin-right: 12px;
    margin-bottom: 12px;
}
.weapon_panel{
    position: relative;
    width: 90px;
    height: 120px;
    user-select: none;
    margin-right: 12px;
    margin-bottom: 12px;
}
.weapon_panel_icon{
    position: absolute;
}
.personnage_panel_portrait_content{
    position: relative;
    width: 90px;
    height: 97px;
    border-radius: 3px 3px 0px 0px;
}
.personnage_panel_background{
    position: absolute;
    width: 90px;
    height: 97px;
    border-radius: 3px 3px 0px 0px;
}
.personnage_panel_portrait{
    position: absolute;
    width: 90px;
    height: 97px;
    border-radius: 3px 3px 0px 0px;
}
.personnage_panel_element{
    position: absolute;
    width: 27px;
    height: 27px;

    margin-top: 4px;
    margin-left: 4px;
}
.personnage_panel_name{
    text-align: center;
    vertical-align: middle;
    line-height: 23px;   

    width: 90px;
    height: 23px;
    border-radius: 0px 0px 3px 3px;

    background-color: #e9e5dc;

    font-family: Calibri;
    font-weight: lighter;
    font-size: smaller;
    color: #36393f;

    user-select: none;
}

#liste_personnages_filtres_armes,
#liste_personnages_filtres_elements,
#liste_personnages_filtres_etoiles
{
    margin-left: 24px;
}
#liste_personnages_filtres_arme,
#liste_personnages_filtres_etoiles_quatre{
    margin-top: 4px;;
}
#liste_personnages_filtres_element_arme{
    margin-left: 8px;
}
#liste_personnages{
    margin-left: 6px;
}

#liste_personnages_filtres_armes_arc,
#liste_personnages_filtres_armes_lance,
#liste_personnages_filtres_armes_claymore,
#liste_personnages_filtres_armes_catalyste,
#liste_personnages_filtres_elements_geo,
#liste_personnages_filtres_elements_anemo,
#liste_personnages_filtres_elements_eau,
#liste_personnages_filtres_elements_electro,
#liste_personnages_filtres_elements_glace
{
    margin-left: 4px;
}
#liste_personnages_personnages.flexDirectionColumn{
    flex-flow: column;
}

#display_calculateur{
    margin-top: 28px;
}
.calculateur_personnage_panel_element{
    margin-top: 0px; margin-left: 0px;
    height: 27px;width: 27px;
    position: absolute;
}
.calculateur_personnage_element_choices{
    height: 31px;width: 31px;
    position: absolute;
}
#calculateur_personnage_element_active{
    height: 31px;width: 31px;position: relative;left: -8px;top: -8px;
    box-shadow: 1px 2px 2px #333;
}

.element_choices_background,
.element-result-background{
    background-color: #4c505a;
    border-radius: 14.5px;
    box-shadow: 10px;
}

.custom_select_ascension_dropdown{
    width: 35px;
    height: 35px;
}
.custom_dropdown{
    position: relative;
    z-index: 1;
    left: 37px;
}
.calculateur_background_ascension{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: #4c505a;
}

#calculateur-personnage-resultat{
    margin-top: 15px;
}

#calculateur-personnage-resultat-element-active{
    height: 31px;
    width: 31px;
    position: relative;
    left: -8px;
    top: -8px;
    box-shadow: 1px 2px 2px #333;
}

.icon-width27-height27-bradius6{
    width: 27px;
    height: 27px;
    border-radius: 6px;
}
.calculateur-text-result{
    display:inline-block;
    vertical-align:middle;
    background: none;
    color: #e9e5dc;
    font-family: Calibri;
    font-weight: lighter;
    font-size: smaller;
}
.btn-calculateur-calculer{
    display: flex;

    width: 80px;
    height: 30px;

    background-color: #282a2f;
    border-radius: 5px;

    color: #e9e5dc;
    font-family: Calibri;
    font-weight: lighter;

    box-shadow: 0px 0px 4px #e9e5dc;

    text-align: center;
    align-items: center;
    justify-content: center;

    user-select: none;
}
.image-rendering-optimized{
    image-rendering:-webkit-optimize-contrast;
}
.image-rendering-pixelated{
    image-rendering: pixelated;
}
#notes-textarea1,#notes-textarea2,#notes-textarea3{
    resize: none;
    text-align: left; 
    width: 257px; 
    height: 700px;
    font-family: Calibri;
    font-weight: lighter;
    font-size: medium;
    background-color: #4c505a;
    color: #e9e5dc;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.writing-upsidedown {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.custom-select-options-lvl{
    text-align: center;
    background-color: #e9e5dc;
    font-family: Calibri;
    font-weight: lighter;
    font-size: smaller;
    color: #36393f;
    border-radius: 3px;
    width: 19px;
    margin-top: 2px;
    user-select: none;
}
.custom-select-options-talents{
    text-align: center;
    background-color: #e9e5dc;
    font-family: Calibri;
    font-weight: lighter;
    font-size: smaller;
    color: #36393f;
    border-radius: 3px;
    width: 25px;
    margin-top: 2px;
    user-select: none;
}